/**
  AUTOR: PAULO VICTOR
  DATA: 25/08/2020
  PROJETO: FESTA CULTURAL DE NAZARÉ
  OBJETIVO: ESTILO PAGE HOME
*/

@font-face{
  font-family: 'Beauty and the Beast';
  src: url('../fonts/Beauty\ and\ the\ Beast\ Sample.ttf');
}
@font-face{
  font-family: 'xilosa';
  src: url('../fonts/xilosa_.ttf');
}
/*NAVBAR*/
html,body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
}
body{
  background-image: url('../img/fundo.jpg');
  background-position: center;
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  
  
}
.backbutton{
  top: 10px;
  right: 250px;
  width: auto;
  position: absolute;
  color: #ac65fd;
  border-radius: 16px;
  display: block;
  
}
.header{
  text-align: center;
  background-color: #fffad4;
  padding:80px;
  bottom: 50px;
  left: 50PX;
  text-align: justify center;
  position:relative;
  border-radius: 16PX;
  width: 800px;
  /* opacity: 0.5; */
  z-index: 99;
}
.cirque{
  position: relative;
  width: 800px;
  margin-top:0px;
  
}
#test{
  position: absolute;
  text-align: center;
  bottom: -80px;
  align-items: center;
  left: -60px;
  
}

h2{  
  position: absolute;
  text-align: center;
  right: 200px;
  top: 0;
}
.third {
  border-color: rgb(0, 0, 0);
  color: #fff;
  box-shadow: 0 0 40px 40px rgb(166, 132, 247) inset, 0 0 0 0 rgb(127, 200, 212);
  transition: all 150ms ease-in-out;
  margin-right: 5px;
  margin: 10px;
  border-radius: 16px;
  left: 50px;
  text-align: center;
 
}
.third:hover {
  box-shadow: 0 0 10px 0 rgb(127, 65, 197) inset, 0 0 10px 4px rgb(145, 79, 221);
}
#navbarSupportedContent{
  position: relative;
 
}
.navbar-brand{
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: rgb(250, 248, 248) !important;
  right: 100px;
  
}
#menu{
  margin: auto;
  font-size: 18px;
  opacity: 0;
}
#menu li a{
  color: white;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(142, 49, 204),
      0 0 82px rgba(232, 15, 240, 0.733),
      0 0 92px rgb(173, 39, 214),
      0 0 102px rgb(172, 29, 238),
      0 0 151px rgb(156, 18, 219);
}
#menu li a:hover{
  text-shadow: 0 0 10px 0 rgb(65, 67, 197) inset, 0 0 10px 4px rgb(74, 144, 201);
}

.navbar-toggler{
  background-color: white;
}
/***/
/*IMG FITAS*/


/***/
/*IMG INFORMATIONS*/
.col-img-logos .row img{
  width: 100%;
}
.col-img-logos .row .col-md-3:first-child , .col-img-logos .row .col-md-3:last-child{
  text-align: center;
  position: relative;
}
.col-img-logos .row .col-md-3:last-child{
  position: relative;
}
.col-img-logos .row .col-md-3:first-child img{
  /* margin-top: 120px; */
  width: 100%;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%,-50%);
}
.col-img-logos .row .col-md-3:last-child img{
  /* margin-top: 100px; */
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#img-logo img{
  margin-top: -70px;
  width: 90%;
  
  margin-left: 150px;
  align-items: center;
}
/***/
/*DRIVE IN*/
.drive-img{
  padding: 40px 2%;
  text-align: center;
}
.drive-img img{
  width: 40%;
}
/***/
body{
  position: relative;
}
footer{
  position: absolute;
  background-size: 100% ;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 20%;
  background-color: #7a36c7;
  display: flex;
  align-items: center;
  border-top: 2px solid #6f44a7;
  display: none;
}
footer p{
  font-size: 10px;
  font-weight: bold;
}
footer img{
  width: 50%
}
footer .container{
  margin: 0 auto;
  background-color: #fffad4;
  top: -45px;
  border-radius: 20px;
  height: auto;
  position: relative;
  padding: 0px 10px;
  border-top: 12px solid #ac65fd;
}
footer .container .row{
  text-align: center;
  
}
.row{
  margin-bottom: 100px;
  align-items: center;
  left: 200px;
  
  
  
}
#comercializacao img{
  width:900px;
  
}
#realizacao{
  width: 100%;
}
#patrocinador img{
  width: 100px;
  
}
#rodape img{
  width: 100%;
}
#rodape{
  width: 85%;
  position: absolute;
  align-items: center;
  bottom: 10px;
  left: 95px;
  
}

#img-middle{
  width: 40%;
  display: none;
}
#img-last{
  width: 80%;
  display: none;
}
/* #rodape1{
  position:relative;
  bottom: 0px;
  display: block;
} */
@media only screen and (max-width:678px){
  .navbar-brand{
    font-size: 8px;
  }
  .img-fitas img{
      width: 100%;
  }
  #img-middle{
    margin: 30px 0 !important;
    display: inline-block;
  }
  #img-last{
    display: inline-block;
  }
  #env-data{
    display: none;
  }
  .col-img-logos .row .col-md-3:first-child{
    background-color: #1c6aac;
    text-align: center;    
    margin: 100px 0;
    display: none;
  }
  .col-img-logos .row .col-md-3:first-child img{
    /* margin-top: 120px; */
    width: 60%;
  }
  .col-img-logos .row .col-md-3:last-child img{
    /* margin-top: 120px; */
    width: 40%;
  }
  #img-logo img{
    display: none;
    opacity: 0;
  }
  
  .drive-img img{
    margin-top: 10px;
    width: 70%;
  }
  #patrocinador img{
    width: 50%;
    margin-bottom: 40px;
  }
  footer img{
    width: 40%;
    margin-bottom: 40px;
  }
  #comercializacao{
    width: 20%;
    margin-bottom: 40px;
  }
  #realizacao{
    width: 80%;
  }
  footer p{
    font-size: 14px;
    font-weight: bold;
  }
  footer{
    display: block;
    opacity: 0.8;
    margin-top: 350px;
    position: absolute;
  }
  #rodape{
    display: none;
    opacity: 0;
    
  }
  .cirque{
    width: 200px;
    margin-top: 10px;
    display: inline;
    position: absolute;
    
    border: none;
   
  }
  .header{
    display: none;
    opacity: 0;
  }
  body{
    width: 100vw;
    height: 100vh;
    
  }
  .backbutton{
    left: 320px;
    position:absolute;
    margin-top: -10px;
    padding: 5px;
  }
  #menu{
    position: none;
    opacity: 1;
    
  }
}
/* @media screen and (max-device-width: 120px), screen and (min-device-width: 300px){
  
} */
@media only screen and (max-device-width: 900px){
  #navbarSupportedContent{
    /* position: initial; */
    position: none;
    
  }
  #menu{
    position: none;
    opacity: 1;
    
  }
  .header{
    opacity: 0;
    height: 0;
  }
  body{
    width: 100vw;
    height: 100vh;
    
  }
  #rodape{
    opacity: 0;
    height: 0;
  }
  #img-logo img{
    display: none;
    opacity: 0;
  }
  footer{
    display: block;
    opacity: 0.8;
    margin-top: 460px;
    position: absolute;
  }
  #rodape{
    display: none;
    opacity: 0;
    
  }
  .cirque{
    width: 200px;
    margin-top: 100px;
    display: inline;
    position: absolute;
    margin-bottom: -60px;
    border: none;
  }
  .backbutton{
    left: 380px;
    position:absolute;
    margin-top: -10px;
    padding: 5px;
  }
}
@media only screen and (max-device-width: 390px) {
  #navbarSupportedContent{
    /* position: initial; */
    position: none;
    
  }
  #menu{
    position: none;
    opacity: 1;
    
  }
  .header{
    opacity: 0;
    height: 0;
  }
  body{
    width: 100vw;
    height: 100vh;
    
  }
  #rodape{
    opacity: 0;
    height: 0;
  }
  #img-logo img{ 
    opacity: 0;
    display: none;
  }
  footer{
    display: block;
    opacity: 0.8;
    margin-top: 450px;
    position: absolute;
  }
  #rodape{
    display: none;
    opacity: 0;
    
  }
  .cirque{
    width: 200px;
    margin-top: 100px;
    display: inline;
    position: absolute;
    margin-bottom: -60px;
    border: none;
  }
  .backbutton{
    left: 320px;
    position:absolute;
    margin-top: -10px;
    padding: 5px;
  }
}
.animated-icon1{
  display:flex;
  width: 30px;
  border: none;
  height: 20px;
  position: relative;
  margin: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  
}

.animated-icon1 span {
  display:flex;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  background: none;
  opacity: 1;
  left: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
  background: #c501e2;
}

.animated-icon1 span:nth-child(1) {
 top: 0px;
 background:#c501e2;
 
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
  background: #c501e2
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
  background:#c501e2
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}



.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

