@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap");

body {
  font-family: "Oswald", sans-serif;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-size: cover !important;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}
#home{
  position: fixed;
  text-align: center;
  margin-top: 10px;
  border: #000000;
  color: #fff;
  text-align: center;
  top: 0px;
  border-radius: 20px;
  left: 960px;
}

body section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

}

body section .row {
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  height: 300px;
  width: 100%;
  margin: 10px 0;
  transition: ease all 2.3s;
  perspective: 1200px;
  background-color: transparent;
  border-radius: 20px;
}

.card:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}

.card:hover .cover:before {
  transform: translateZ(30px);
}

.card:hover .cover:after {
  background-color: black;
}

.card:hover .cover h1 {
  transform: translateZ(100px);
}

.card:hover .cover .price {
  transform: translateZ(60px);
}

.card:hover .cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}

.card .cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}

.card .cover:before {
  content: "";
  position: absolute;
  border: 5px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all 2.3s;
  transform-style: preserve-3d;
  transform: translateZ(0px);
  border-radius: 20px;
}

.card .cover:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  
}

.card .cover.item-a {
  background-image: url("/img/maraba.jpeg");
  border-radius: 20px;
}

.card .cover.item-b {
  background-image: url("/img/tucurui-pa.jpg");
  border-radius: 20px;
}

.card .cover.item-c {
  background-image: url("/img/Parauapebas-1.jpg");
  border-radius: 20px;
}

.card .cover.item-d {
  background-image: url("/img/redencao.jpg");
  border-radius: 20px;
}
.card .cover.item-e{
  background-image: url("/img/curianopolis.webp");
  border-radius: 20px;
}
.card .cover.item-f {
  background-image: url("/img/sao-joao-do-araguaia.jpeg");
  border-radius: 20px;
}
.card .cover.item-g {
  background-image: url("/img/-Dom_Elizeu_1.jpg");
  border-radius: 20px;
}

.card .cover h1 {
  font-weight: 600;
  position: absolute;
  bottom: 55px;
  left: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 3;
  font-size: 3em;
  transform: translateZ(0px);
}

.card .cover .price {
  font-weight: 200;
  position: absolute;
  top: 55px;
  right: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 4;
  font-size: 2em;
  transform: translateZ(0px);
}

.card .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000000;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.card .card-back a {
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  border: 1px solid white;
  font-weight: 200;
  font-size: 1.3em;
  color: white;
  padding: 14px 32px;
  outline: none;
  text-decoration: none;
  border-radius: 20px;
}

.card .card-back a:hover {
  background-color: white;
  color: #0b0f08;
  border-radius: 20px;
}

footer {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 20%;
  background-color: #7a36c7;
  display: flex;
  align-items: center;
  border-top: 15px solid #6f44a7;
  display: none;
}

/* footer p{
  font-size: 10px;
  font-weight: bold;
}
footer img{
  width: 50%
} */
/* footer .container{
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  top: -45px;
  border-radius: 20px;
  height: auto;
  position: relative;
  padding: 0px 10px;
  border-top: 12px solid #ac65fd;
} */
footer .container .row {
  text-align: center;

}
.colombina{
  display: flex;
  padding: 10px;
  margin: 0px;
  margin-left: -50px;
  width: 100%;
}
.oficinas{
  text-align: center;
  border: 10px;
  padding: 100px;
  text-indent: 30px;

}

@media screen and (max-width:767px) {
  body {
    height: 300px;
    overflow-y: scroll;
    background-image: url('../img/mobilefundo.jpg');
    background-position: 0;
    background-position: center;
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    height: 100vh;
    width: 100vw;
  }


}

@media only screen and (max-device-width: 900px) {
  body {
   
    overflow-y: scroll;
    background-position: 0;
    background-image: url('../img/mobilefundo.jpg');
    background-position: center;
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    height: 100vh;
    width: 100vw;
  }

}

@media only screen and (max-device-width: 390px) {
  body {
    
    overflow-y: scroll;
    background-image: url('../img/mobilefundo.jpg');
    background-position: center;
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    height: 100vh;
    width: 100vw;
  }

}